@charset "utf-8";
/*********** screen配置 ***********/
.webBox {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  box-pack: justify;
}
.display-box-hor-justify {
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
}
